.popup__form {
  margin-top: 27px;
}

.form__input-error_active {
  color: red;
  font-size: 12px;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8); 
  color: #ffffff; 
}

.form__submit_inactive {   /* кнопка неактивна */
  background-color: rgba(0, 0, 0, 0.15);
  cursor: not-allowed;
}
