.popup__form {
  margin-top: 27px;
}

.form__input-error {
  border-bottom-color:red; 
}
/* popup__input:invalid {border-bottom-color:red; 
} */

.form__input-error_active {
  color: red;
}

.form__submit_inactive:disabled {

}

popup__button:hover {
  
}
